<a href="https://colab.research.google.com/github/MariaeSalgado/Program_III/blob/main/Colab_Computo_1_Maria_Salgado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **COMPUTO 1 - MARIA ESTEFRANY SALGADO OSORIO**

TIPOS DE DATOS

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

In [ ]:
nombre = "Luis Hernandez"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

FUNCIONES DE USUARIO



*   Convertir grados celsius a farenheit.

In [ ]:
def convertir_cf(c):
  return 32 + c*9/5

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

EJERCICIOS



*   Convertir de Farenheit a Celsius
*   Convertir de [Celsius, Farenheit] a Kelvin

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", s, "ISR: ", isr, s*0.9075-isr )

FUNCIONES LAMBDA



*   FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

In [ ]:
resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

TUPLAS

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

LISTAS - ARRAY

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

DICCIONARIOS - JSON

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

LISTAS

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print( list(f) )

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares) )

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares) )

CICLOS



*   FOR

In [ ]:
for item in data:
  print(item)



*   WHILE

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i] )
  i+=1

TABLA DE MULTIPLICAR

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i )

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

Escribir un programa que pida la nota de un examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota>10):
  print("Nota invalida")
elif(nota<5):
  print("SUPENSO")
elif(nota<7):
  print("APROBADO")
elif(nota<9):
  print("NOTABLE")
elif(nota<10):
  print("SOBRESALIENTE")
else:
  print("HONORABLE")

Escriba un programa que muestre la secuencia fibonacci

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=", c)
  b=a
  a=c



*   Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario

*   Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc.
*   Escriba un programa que convierta un numero instroducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V

PROGRAMACION ORIENTADA A OBJETOS.



*   CLASE

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2



*   INSTANCIA DE UNA CLASE

In [ ]:
objCalculadora = Calculadora()

* OBJETO

In [ ]:
print( "La suma de 5 + 3 = ", objCalculadora.sumar(5,3) )

EJERCICIOS DE PYTHON - COMPUTO 1

1. Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP( 6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto. (20%)

In [ ]:
def calcular_deducciones(sueldo_bruto):
    # Deducciones porcentuales
    isss_porcentaje = 0.03
    afp_porcentaje = 0.0625

    # Calcular deducciones por ley
    isss = sueldo_bruto * isss_porcentaje
    afp = sueldo_bruto * afp_porcentaje

    # Tabla de ISR ficticia (rango de ingresos, tasa de impuesto)
    tabla_isr = [
        (0, 0.0),
        (500, 0.1),
        (1000, 0.15),
        (2000, 0.20),
        (3000, 0.25)
    ]

    # Calcular ISR según la tabla
    isr = 0
    for i in range(1, len(tabla_isr)):
        if sueldo_bruto > tabla_isr[i][0]:
            isr += (tabla_isr[i][0] - tabla_isr[i - 1][0]) * tabla_isr[i][1]
        else:
            isr += (sueldo_bruto - tabla_isr[i - 1][0]) * tabla_isr[i][1]
            break

    # Calcular total de deducciones
    total_deducciones = isss + afp + isr

    # Calcular sueldo neto
    sueldo_neto = sueldo_bruto - total_deducciones

    return isss, afp, isr, total_deducciones, sueldo_neto

# Obtener sueldo bruto del usuario
sueldo_bruto = float(input("Ingrese el sueldo: "))

# Calcular deducciones y sueldo neto
isss, afp, isr, total_deducciones, sueldo_neto = calcular_deducciones(sueldo_bruto)

# Mostrar resultados
print(f"Deducciones por ley:")
print(f"ISSS: ${isss:.2f}")
print(f"AFP: ${afp:.2f}")
print(f"ISR: ${isr:.2f}")
print(f"Total Deducciones: ${total_deducciones:.2f}")
print(f"Sueldo Neto: ${sueldo_neto:.2f}")

2. Calcular el valor a pagar según el número de metros consumidos de agua potable (Ver tabla en la siguiente diapositiva). (20%)

In [ ]:
metros = float(input("Ingrese los metros consumidos de agua:"))
cuota = 6
mt = (28-18)*0.45
if 1 <= metros <= 18:
   print(f"Su cuota es de: ${cuota} de sus metros consumidos")

elif 19 <= metros <= 28:
   resp = (metros-18)*0.45+cuota
   print(f"Su cuota es de: ${resp} de sus metros consumidos")
elif 29 <= metros:
   resp = ((metros-28)*0.65+cuota)+ mt
   print(f"Su cuota es de: ${resp} de sus metros consumidos")
else:
  print("Ingrese un metodo valido")

3. Desarrolle la tabla de meses acumulados a un meses. Si puede encontrar la formula matemática para evitar ciclos. (10%)

In [ ]:
def tabla_meses_acumulados(mes_max):
    tabla = {}
    for mes in range(1, mes_max + 1):
        acumulado = (mes * (mes + 1)) // 2
        tabla[mes] = acumulado
    return tabla

mes_maximo = int(input("Ingrese el mes máximo: "))
tabla_resultante = tabla_meses_acumulados(mes_maximo)

print("Tabla de meses acumulados:")
print("Mes\tAcumulado")
for mes, acumulado in tabla_resultante.items():
    print(f"{mes}\t{acumulado}")

4. Conversores: (40%) (10 ítems como mínimo por cada uno)

In [ ]:
valores = [
           [],
           [0, 1, 0.85, 23.8, 35.11, 7.74, 8.75, 621.61,4.07,109.83,73.25], #monedas
           [0, 1, 100, 0.001, 1000,0.000621371,1.09361,3.28084,39.3701,0.000539957,1e+6],#Longitud
           [0,1,1000,0.001,1e+6,1e+9,0.000984207,0.00110231,0.157473,2.20462,35.274],#Masa
           [0,0.25,0.000125,1.25e-7,1.25e-10,1.25e-13,1.25e-16,1.25e-19,1.25e-22,1.25e-25],#Almacenamiento
           [0,1,60,60000,6e+7,6e+10,0.0166666667,0.000694444,9.92063e-5,2.28311e-5,1.9026e-6],#Tiempo
           [0,1,0.001,0.219969,0.879877,1.75975,3.51951,35.1951,56.3121,0.0353147,61.0237],#Volumen
           [0,1e-6,3.861e-7,1.19599,10.7639,1550,1e-4,0.000247105,1000000 ]#Area
]
etiquetas = [
           [],
           ["1. Dolar",
            "2. Euro",
            "3. Lempira",
            "4. Cordobas",
            "5. Quetzalez",
            "6. Colon SV",
            "7. Colon CR",
            "8. Sol Peruano",
            "9. Yen Japones",
            "10. Rublo Ruso"],
           ["1. Metro", "2. Centimetro", "3. Kilometro","4. Milimetro", "5. Milla", "6. Yarda","7. Pie","8. Pulgada","9. Milla Nautica","10. Micrometro"],
           ["1. Kilogramo","2. Gramo","3. Tonelada","4. Miligramo","5. Microgramo", "6. Tonelada larga","7. Tonelada corta","8. Stone", "9. Libra", "10. Onza"],
           ["1. Bit","2. Byte", "3. Kilobyte", "4. Megabyte", "5. Gigabyte", "6. Terabyte", "7. Petabyte", "8. Exabyte", "9. Zettabyte", "10. Yottabyte"],
           ["1. Minuto", "2. Segundo","3. Milisegundo","4.Microsegundo","5. Nanosegundo","6. Hora","7. Dia","8. Semana","9. Mes","10. año"],
           ["1. Litro","2. Metro Cubico","3. Galon imperia","4. Cuarto imperial","5. Pinta imperial","6. Taza imperial","7. Onza liquida imperial","8. Cucharada imperial","9. Pie cubico","10. Pulgada cubica" ],
           ["1. Metro cuadrado","2. Kilometro cuadrado","3. Milla cuadrada","5. Yarda cuadrada","6. Pie cuadrado","7. Pulgada cuadrada","8. Hectarea","9. Acre","Milimetros cuadrados"]
]
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/valores[conversor][de] * cantidad

print("*** MENU ***")
print("* 1. Monedas")
print("* 2. Longitud")
print("* 3. Masa")
print("* 4. Almacenamiento")
print("* 5. Tiempo")
print("* 6. Volumen")
print("* 7. Area")


conversor = int(input("Que quieres utilizar: "))

if conversor < 8:

  print( etiquetas[conversor] )



  de = int(input("DE: "))
  a = int(input("A: "))
  cantidad = float(input("Cant: "))

  print("Respuesta: ", convertir(conversor, de, a, cantidad) )

else:
  print("Ingrese una opcion valida")

5. Realizar un conversor propio, donde espesifique el valor de conversión: (10%) • 1 caja -> 25 unidad. Viceversa 80 unidades – 3/5 -> cajas/unidades • 1 saco -> 50 libras. Viceversa 130 libras – 2/30 -> sacos/libras • 1 fardo -> 5 unidades. Viceversa 28 unidades – 5/3 -> fardos/unidades

In [ ]:
def cajas_to_unidades(cajas):
    return cajas * 25

def unidades_to_cajas(unidades):
    return unidades / 25

def sacos_to_libras(sacos):
    return sacos * 50

def libras_to_sacos(libras):
    return libras / 50

def fardos_to_unidades(fardos):
    return fardos * 5

def unidades_to_fardos(unidades):
    return unidades / 5


print("------Menu---------")
print("1. Conversión de cajas a unidades y viceversa")
print("2. Conversión de sacos a libras y viceversa")
print("3. Conversión de fardos a unidades y viceversa")

covers = int(input("Que Quieres hacer: "))

if covers < 4:

  if covers == 1 :

    print("")
    print("Conversión de cajas a unidades y viceversa")

    # Conversión de cajas a unidades y viceversa


    print("        1. Cajas a unidades")
    print("        2. Unidades a cajas")
    cajas = int(input("Que quieres hacer: "))


    if cajas == 1:
      cajas = float(input("Introduce el número de cajas: "))
      unidades = cajas_to_unidades(cajas)
      print(f"{cajas} cajas equivalen a {unidades} unidades.")
    elif cajas == 2:
      unidades_input = float(input("Introduce el número de unidades: "))
      cajas_output = unidades_to_cajas(unidades_input)
      print(f"{unidades_input} unidades equivalen a {cajas_output} cajas.")
    else:
      print("Error")




  elif covers == 2:
    print("")
    print("Conversión de sacos a libras y viceversa")
    print("        1. Sacos a libras")
    print("        2. Libras a sacos")
    sacos = int(input("Que quieres hacer: "))


    if sacos == 1:
      # Conversión de sacos a libras y viceversa
      sacos = float(input("Introduce el número de sacos: "))
      libras = sacos_to_libras(sacos)
      print(f"{sacos} sacos equivalen a {libras} libras.")

    elif sacos == 2:
      libras_input = float(input("Introduce el número de libras: "))
      sacos_output = libras_to_sacos(libras_input)
      print(f"{libras_input} libras equivalen a {sacos_output} sacos.")
    else:
      print("Error")


  elif covers == 3:
   print("")
   print("Conversión de fardos a unidades y viceversa")
   print("        1. Fardos a unidades")
   print("        2. Unidades a fardos")
   fardos = int(input("Que quieres hacer: "))

   if fardos == 1:

      # Conversión de fardos a unidades y viceversa
      fardos = float(input("Introduce el número de fardos: "))
      unidades_fardos = fardos_to_unidades(fardos)
      print(f"{fardos} fardos equivalen a {unidades_fardos} unidades.")

   elif fardos == 2:

      unidades_input_fardos = float(input("Introduce el número de unidades: "))
      fardos_output = unidades_to_fardos(unidades_input_fardos)
      print(f"{unidades_input_fardos} unidades equivalen a {fardos_output} fardos.")

   else:
    print("Erro")

else:
  print("Ingrese una option valida")

# **COMPUTO I - PARCIAL I - María Salgado**

**2. Desarrolle el conversor de Área (Superficie) haciendo uso de los
diccionarios y las funciones de usuario en Python que contenga las
siguientes opciones: (20%)**

In [ ]:
# Definimos un diccionario con las conversiones de unidades de área
conversiones_area = {
    "a": ("Pie Cuadrado", 1),
    "b": ("Vara Cuadrada", 0.1111),
    "c": ("Yarda Cuadrada", 0.111111),
    "d": ("Metro Cuadrado", 0.092903),
    "e": ("Tareas", 628.856),
    "f": ("Manzana", 1000.0),
    "g": ("Hectárea", 9.2903e-6)
}

# Función para realizar la conversión de área
def convertir_area(valor, unidad_origen, unidad_destino):
    factor_conversion = conversiones_area[unidad_destino][1] / conversiones_area[unidad_origen][1]
    resultado = valor * factor_conversion
    return resultado

# Función principal del programa
def main():
    print("Conversor de Área")
    print("Opciones disponibles:")
    for opcion, (nombre, _) in conversiones_area.items():
        print(f"{opcion}. {nombre}")

    opcion_origen = input("Selecciona la unidad de origen (1, 2, 3, etc.): ")
    opcion_destino = input("Selecciona la unidad de destino 1, 2, 3, etc.): ")
    valor = float(input("Ingresa el valor a convertir: "))

    if opcion_origen in conversiones_area and opcion_destino in conversiones_area:
        resultado = convertir_area(valor, opcion_origen, opcion_destino)
        print(f"{valor} {conversiones_area[opcion_origen][0]} es igual a {resultado} {conversiones_area[opcion_destino][0]}")
    else:
        print("Opción no válida. Asegúrate de seleccionar una unidad válida.")

if __name__ == "__main__":
    main()

Conversor de Área
Opciones disponibles:
1. Pie Cuadrado
2. Vara Cuadrada
3. Yarda Cuadrada
4. Metro Cuadrado
5. Tareas
6. Manzana
7. Hectárea
Selecciona la unidad de origen (1, 2, 3, etc.): 7
Selecciona la unidad de destino 1, 2, 3, etc.): 2
Ingresa el valor a convertir: 24
24.0 Hectárea es igual a 287009.03092472797 Vara Cuadrada